# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarised

**Objectives:**
- List popular languages for Data Science
- List some of the commonly used libraries for Data Science
- List some of the common Data Science tools
- Present examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Seaborn
3. Scikit-learn

|Data Science Tools|
|------------------|
|R Studio          |
|Jupyter Notebooks |
|Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
## This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [18]:
## This will convert 200 minutes to hours by dividing by 60

print("200 minutes converted to hours is: ", 200 / 60, "hours")

200 minutes converted to hours is:  3.3333333333333335 hours

## Author
Ayodele